{% comment %}
  Awards entry renderer.
  Layout: [date (right) | title | placement (right)]
{% endcomment %}

<ul class="card-text font-weight-light list-group list-group-flush">
  {% for entry in entries %}
    <li class="list-group-item">
      <div class="row align-items-center">
        {% capture start_date %}{% if entry.date %}{{ entry.date }}{% endif %}{% endcapture %}

        {% if start_date != '' %}
          <div class="col-xs-2 col-sm-2 col-md-2 text-right">
            <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">
              {{- start_date | split: '-' | first -}}
            </span>
          </div>
          <div class="col-xs-7 col-sm-7 col-md-7 mt-2 mt-md-0">
            {% if entry.url %}
              <h6 class="title ml-1 ml-md-4" style="font-weight: 400;">
                <a href="{{ entry.url }}">{{ entry.title }}</a>
              </h6>
            {% elsif entry.title %}
              <h6 class="title ml-1 ml-md-4" style="font-weight: 400;">{{ entry.title }}</h6>
            {% endif %}
            {% if entry.awarder %}
              <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">{{ entry.awarder }}</h6>
            {% endif %}
            {% if entry.summary %}
              <p class="ml-1 ml-md-4">{{ entry.summary | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            {% endif %}
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 text-right">
            {% if entry.placement %}
              <span class="font-weight-light">{{ entry.placement }}</span>
            {% endif %}
          </div>
        {% else %}
          <div class="col-xs-9 col-sm-9 col-md-9">
            {% if entry.url %}
              <h6 class="title ml-1 ml-md-4" style="font-weight: 400;">
                <a href="{{ entry.url }}">{{ entry.title }}</a>
              </h6>
            {% elsif entry.title %}
              <h6 class="title ml-1 ml-md-4" style="font-weight: 400;">{{ entry.title }}</h6>
            {% endif %}
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 text-right">
            {% if entry.placement %}
              <span class="font-weight-light">{{ entry.placement }}</span>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
